html {
  background: gray;
}

body {
  width: 800px;
  padding: 4em;
  background: white;
  font-size: 120%;
}

dm-vars {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0.5em;
  width: 600px;
}

input:read-only {
  background-color: #ddd;
}

pre {
  background: #ddf;
  padding: 0.5em;
  /* display: none; */
}
